# 🔐 배포 환경용 DB 설정 (PostgreSQL)
spring.datasource.url=jdbc:postgresql://your-prod-db-host:5432/debate_db
spring.datasource.username=your_prod_username
spring.datasource.password=your_prod_password

# jwt secret key
jwt.secret= your_jwt_secret_key