# 🔐 로컬 개발 환경용 DB 설정 (PostgreSQL)
spring.datasource.url=jdbc:postgresql://localhost:5432/debate_db
spring.datasource.username=your_local_username
spring.datasource.password=your_local_password

# jwt secret key
jwt.secret= your_jwt_secret_key

# naver secret key
naver.clientid=YOUR_NAVER_CLIENDID
naver.clientsecret=YOUR_NAVER_CLIENTSECRET



# kakao secret key
kakao.clientid=YOUR_KAKAO_CLIENDID